<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rxj8934.mvvm.base_feature.rxjava">

    <application>
        <activity android:name=".RxJavaActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="rana.com"
                    android:path="/rxjava"
                    android:scheme="https"/>

            </intent-filter>
        </activity>
    </application>

</manifest>